/*
In SASS, as you know, it'll look more like:

.product {
	&__column {}
	&__column--sticky {}
}
.product-details {
	&__title {}
	&__description {}
}

but this is vanilla only since it's been a while since I've done vanilla
*/

@font-face {
	font-family: "Graphik Medium";
	src:
		url("../../assets/fonts/Graphik-Medium.otf") format("otf"),
		url("../../assets/fonts/Graphik-Medium.ttf") format("ttf"),
		url("../../assets/fonts/Graphik-Medium.woff") format("woff");
}

:root {
	--black: #000;
	--beige: #f0d39b;
	--white: #fff;
	--off-white: #f7f7f8;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: "Graphik Medium", sans-serif;
	font-size: 1rem;
	letter-spacing: 0.05em;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

/* 
BEGIN: Generics
*/
a,
.text-link {
	color: var(--black);
	text-decoration: underline;
	background-color: transparent;
	padding: 0;
}

/*
The design doesn't have hover states as it's just two
static images, so a simple underline removable should
work just fine for now
*/
a:hover,
button.text-link:hover {
	text-decoration: none;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-small {
	font-size: 0.75rem;
}

.visually-hidden {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
	left: -10000%;
	right: -10000%;
}

button {
	color: var(--white);
	background-color: var(--black);
	border: none;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem;
	cursor: pointer;
	letter-spacing: 0.05em;
}

button.button--inversed {
	color: var(--black);
	background-color: transparent;
}

.border {
	border: 1px solid var(--black);
}

.border-right {
	border-right: 1px solid var(--black);
}

.border-left {
	border-left: 1px solid var(--black);
}

.d-grid {
	display: grid;
}

.d-flex {
	display: flex;
}

.icon {
	display: inline-block;
}

.icon-chevron--down {
	transform: rotate(90deg)
}
/* 
END: Generics
*/


/*
BEGIN: Main
*/

.container {
	margin: 0 auto;
}

/*
END: Main
*/


/*
BEGIN: Product
*/

/*
BEGIN: Carousel/Slider/Whatever floats for boat
*/

.product-carousel__track {
	max-width: 800px;
	overflow: hidden;
	margin: 0 auto;
}

.product-carousel__slide {
	width: 100%;
}

.product-carousel__slide-image {
	width: 100%;
	height: auto;
}

/*
END: Carousel/Slider/Whatever floats for boat
*/


.product {
	background-color: var(--off-white);
}

.product-details {
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 2rem;
}

.product-details > * {
	margin-bottom: 1.5rem;
}

.product-details__title {
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

.product-details__description {
	margin-bottom: 3rem;
}

.product-details__label {
	font-size: 1rem;
}

/*
BEGIN: Color picker
*/
.product-details__color-picker {
	justify-content: space-between;
	align-items: center;
}

.product-details__color-picker > * {
	width: 100%;
	padding: 0.5rem;
}

.product-details__color + label .icon {
	visibility: hidden;
}

.product-details__color:checked + label .icon {
	visibility: visible;
}

.product-details__color-label {
	text-align: center;
	cursor: pointer;
	color: var(--white);
	background-color: var(--black);
}

.product-details__color-label--beige {
	color: var(--black);
	background-color: var(--beige);
}
/*
END: Color picker
*/


/*
BEGIN: Quantity
*/
.product-details__quantity {
	justify-content: space-between;
	align-items: center;
}

.product-details__quantity-control {
	height: 2rem;
	width: 2.75rem;
	padding: 0.5rem;
}
/*
END: Quantity
*/

/*
BEGIN: Custom select
*/
.product-details__size-select {
	margin-bottom: 0.5rem;
}

.product-details__size-select--open {

}

.product-details__select-label {
	width: 100%;
	padding: 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.product-details__select-options {
	padding: 0;
}

.product-details__select-option {
	list-style: none;
}
/*
END: Custom select
*/

/*
BEGIN: Size chart button
*/
.product-details__size-chart {
	text-align: left;
	margin-bottom: 2rem;
}
/*
END: Size chart button
*/


/*
BEGIN: Cycles link
*/
.product-details__cycle {
	text-align: center;
}
/*
END: Cycles link
*/

/*
END: Product
*/

/*
BEGIN: Shop more
*/

.shop-more {
	width: 100%;
	max-width: 800px;
	padding: 2rem 2rem;
	margin: 0 auto;
}

.shop-more__item {
	margin-bottom: 4rem;
}

.shop-more__item:last-child {
	margin-bottom: 0;
}

.shop-more__item > * {
	display: block;
	margin-bottom: 1rem;
}

.shop-more__image {
	width: 100%;
	height: auto;
}

.shop-more__flow {
	margin-bottom: 0;
}

/*
END: Shop more
*/
